.item {
  display: grid;
  align-items: center;

  grid-template-columns: 32px auto;
}

.item__container {
  display: flex;
}

.item:not(:last-child) {
  margin-bottom: 16px;
}

.item_ban {
  display: flex;

  margin-bottom: 16px;
  padding-left: 32px;
}

.item_ban_bottom {
  display: flex;

  margin-bottom: 40px;
  padding-left: 32px;
}

.items {
  overflow-y: auto;

  box-sizing: border-box;
  margin: 0 0 16px;
  padding-left: 0;

  list-style: none;

  scroll-snap-type: y;
}
