.item_ban {
  display: flex;

  margin-bottom: 16px;
  padding-left: 32px;
}

.item_ban_bottom {
  display: flex;

  margin-bottom: 40px;
  padding-left: 32px;
}

.items {
  overflow-y: auto;

  box-sizing: border-box;

  max-height: calc(100vh - 188px - 152px - 155px - 175px);
  margin: 0 0 16px;
  padding-left: 0;

  list-style: none;

  scroll-snap-type: y;
}

.items__add_left {
  overflow-y: auto;

  box-sizing: border-box;
  max-height: calc(100vh - 188px - 152px - 155px - 175px);
  margin: 0 0 16px;
  padding-left: 0;

  list-style: none;

  scroll-snap-type: y;
}

.items__add_left::before {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";

  border-radius: 40px;

  background-color: #131316;
  box-shadow: 0 0 16px 8px rgb(51 51 255 / 25%), 0 0 8px 8px rgb(51 51 255 / 25%);
}

.items__add_left::after {
  position: absolute;
  z-index: 1000;
  top: calc(50% - 50px);
  left: calc(50% - 50px);

  width: 100px;
  height: 100px;

  content: "+";
  text-align: center;

  color: rgb(166 166 166 / 68.3%);

  border-radius: 100%;
  box-shadow: 0 0 16px 8px rgb(51 51 255 / 25%), 0 0 8px 8px rgb(51 51 255 / 25%);

  font-size: 80px;
}

.items__add_right {
  overflow-y: auto;

  box-sizing: border-box;
  max-height: calc(100vh - 188px - 152px - 155px - 175px);
  margin: 0 0 16px;
  padding-left: 0;

  list-style: none;

  scroll-snap-type: y;
}

.items_wrap {
  position: relative;

  flex: 1;

  box-sizing: border-box;
}

.items_wrap_over {
  flex: 1;

  box-sizing: border-box;

  border-radius: 40px;

  background-color: hsl(240deg 100% 5%);
}
