.header {
    width: 100%;
    margin-top: 40px;
    background-color: #1C1C21;
    font-family: "Jet Brains Mono", Arial, sans-serif;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1280px;
    min-height: 88px;
    padding: 0 16px;
    margin: auto;
    justify-items: center;
}

.nav {
    justify-self: start;
}

.wrap {
    display: flex;
    padding: 0;
    list-style: none;
}

.item {

}

.item:not(:first-child) {
    margin-left: 49px;
}

.link {
    display: flex;
    align-items: center;
    color: #8585AD;
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

.link:hover > * {
    color: #fffefe;
    fill: #fffefe;
}

.link_active {
    color: #F2F2F3;
}

.link_auth {
    justify-self: end;
}

.link > *:nth-child(2) {
    padding-left: 8px;
}